body {
    max-width: 1024px;
    margin-top: auto;
    margin-left: 20px;
    margin-right: 20px;
    background-color:#E8C6B7;
    width: 90%;
}


#titulo {
    color: rgb(111, 66, 59);
    font-family: montserrat;}


p   { font-family: montserrat;}

h2 {
    color: rgb(111, 66, 59);
    font-family: montserrat;
}


#columnas {
    background-color:#EDE7DE;
    column-rule:2px dotted gray;
    padding: 30px;
    margin-left: 2%;
    margin-right: 2%;
    column-count:3;
 }